

body{
	background-color: #384047;
	font-family: monospace;
}
#titleColor{
	color: #5fcf80;
	font-size: 100px;
	text-align: center;
	margin-top: -800px;
}
#subheadingColor{
	color: #ff7d4f;
	font-size: 70px;
	text-align: center;
	font-family: sandfont;
}
#textBox{
	border-radius: 10px;
	background-color: #f3f3f3;
	width: 70%;
	margin: 10px auto;
	height: 300px;
	
}
#subtitleColor{
	font-size: 20px;
	padding-top : 20px;
	padding-left : 15px;
	padding-right : 15px;
	color: #576366;
	font-weight: bold;
}
#textColor{
	font-size: 20px;
	padding : 10px;
	padding-left : 15px;
	padding-right : 15px;
	color: #7b8b8e;
	
}
@font-face{
    font-family: sandfont;
    src: url('../font/Quicksand-Light.ttf');
	font-weight:normal;
}
/*
orange: #ff7d4f
green: #5fcf80
light grey: #7b8b8e
grey1(slightly darker): #384047
grey2: 

text color(dark)  #576366
text color(light) #7b8b8e
*/